nbandroid.core/src/main/resources/org/nbandroid/netbeans/gradle/v2/layout/integers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="resources">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="integer">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="name" use="required" type="xs:NCName"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>

