nbandroid.core/src/main/resources/org/nbandroid/netbeans/gradle/v2/layout/menu.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="menu" type="menuType"/>
    <xs:complexType name="itemType" mixed="true">
        <xs:sequence>
            <xs:element type="menuType" name="menu" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"file" submenu  "file" submenu  "file" submenu</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="android:id" type="xs:string"/>
        <xs:attribute name="android:title" type="xs:string"/>
        <xs:attribute name="android:icon" type="xs:string"/>
        <xs:attribute name="android:orderInCategory" type="xs:integer"/>
        <xs:attribute name="app:showAsAction" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="menuType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="groupType" name="group" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>menu group  menu group</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="tool:context" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="groupType" name="group" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="android:id" type="xs:string"/>
    </xs:complexType>
</xs:schema>

