src/main/resources/org/nbandroid/netbeans/gradle/v2/layout/dimens.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT resources (dimen|integer|item)+>
<!ATTLIST resources
  xmlns CDATA #FIXED ''>

<!ELEMENT dimen (#PCDATA)>
<!ATTLIST dimen
  xmlns CDATA #FIXED ''
  name NMTOKEN #REQUIRED>

<!ELEMENT integer (#PCDATA)>
<!ATTLIST integer
  xmlns CDATA #FIXED ''
  name NMTOKEN #REQUIRED>

<!ELEMENT item (#PCDATA)>
<!ATTLIST item
  xmlns CDATA #FIXED ''
  format NMTOKEN #IMPLIED
  name NMTOKEN #REQUIRED
  type NMTOKEN #REQUIRED>

